html,
body {
    margin: 24px; 
    padding: 24px;
    height: 100%; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}



.container-satu {
    width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    gap: 20px;  
}

.container-wrapper-1 {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

.kolom-utama {
    order: 2;
    background-color: #f2f2f2;
    padding: 15px;
    background-image: url('img/bunga2.jpg');
    background-size: cover;
    color: #333;
    flex: 2; 
}

.sidebar-satu {
    order: 1;
    background-color: #e6f7ff;
    padding: 15px;
    flex: 1; 
}

.sidebar-satu ul {
    width: 100%; 
}

.sidebar-satu h3 {
    text-align: center;
}

.sidebar-wrapper-1 {
    background-color: #fff0e6;
    order: 3;
    flex: 1; 
}

.sidebar-dua {
    padding: 15px;
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

.sidebar-dua p {
    text-align: center;
}

.sidebar-dua h3 {
    text-align: center;
}
